@charset "UTF-8";

:root{
    --cor0: #7f7d6c;
    --cor1: #979584;
    --cor2: #b0ae9c;
    --cor3: #c8c6b3;
    --cor4: #e0decb;
    --cor5: #0e9094;
}

/*Configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.flex{
    display: flex;
}

.efeito_text_topo_site, .efeito_img_topo_site, .titulo, .text_sobre_mim, .but_rede_sociais1, .but_rede_sociais2, .but_rede_sociais3, .but_rede_sociais4, .habilidade_box1, .habilidade_box2, .habilidade_box3, .img_port-1, .img_port-2, .img_port-3, .form-1, .form-2, .form-3, .textarea, .button_contate_me{
    visibility: hidden;
}

.but_contato button:hover, form .button_contate_me input:hover, footer .rede_sociais_sobre_mim button:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 8px #0e9094;
}

h2.titulo{
    color: #e0decb;
    text-align: center;
    font-size: 38px;
}

h2.titulo strong{
    color: #0e9094; 
}

.container{
    max-width: 1280px;
    margin: 0px auto;
}

/*Configurações Cabesalho*/

header{
    width: 100%;
    padding: 40px 2px 0px 2px;
    box-shadow: 0 0 8px #e0decb40;
    margin: auto;
    /*position: fixed;
    top: 0;
    left: 0;
    transition: .2s;*/
}

/*header.rolagem{
    background-color: #000000;
    padding: 30px 4% 0px 4%;
    box-shadow: 0 0 8px #e0decb40;
}*/

header > .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header .img_logo img{
    margin-top: -30px;
}

header a{
    color: #7f7d6c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav a:hover{
    color: #e0decb;
    transform: scale(1.10);
    font-weight: 700;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 10px 40px;
}

header .but_contato button{
    background-color: #0e9094;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}

/*Configuração do menu mobile*/

.but-abrir-menu-mob i{
    color: #0e9094;
    font-size: 40px;
    padding: 20px 4%;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2000;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir_menu{
    width: 70%;
}

.menu-mobile.abrir_menu ~ .overlay-menu-mob{
    display: block;
}

.menu-mobile .but-fechar{
    padding: 20px 5%;
    text-align: left;
} 

.menu-mobile .but-fechar i{
   color: #0e9094;
   font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li {
    display: block;
    padding: 10px;
}

.menu-mobile nav ul li a{
    color: #e0decb;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 8%;
    display: block;
    transition: .5s;
}

.menu-mobile nav ul a:hover{
    background-color: #0e9094;
    color: #000;
    transform: scale(1.10);
    font-weight: 500;
}

.overlay-menu-mob{
    background-color: #000000c3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

/*Configurações do topo do site*/

section.topo_site{
    padding: 40px 4%; 
    margin: 30px auto 80px auto;
}

section.topo_site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo_site .text_topo_site{
    text-align: center;
}

.topo_site .text_topo_site h1{
    color: #0e9094;
    font-size: 48px;
}

.topo_site .text_topo_site p{
    color: #0e9094;
    font-size: 38px;
    line-height: 20px;
}

.topo_site .text_topo_site p strong{
    font-size: 48px;
}

.topo_site .img_topo_site img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Configurações sobre mim*/

section .sobre_mim{
    padding: 40px 4%;
}

.sobre_mim .text_sobre_mim{
    color: #e0decb;
}

.sobre_mim .text_sobre_mim > h3{
    color: #e0decb;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
}

.sobre_mim .text_sobre_mim > h3 strong{
    color: #0e9094;
}

.sobre_mim .text_sobre_mim > p{
    text-align: justify;
    font-size: 18px;
    max-width: 70%;
    margin:15px auto;
    text-indent:1.5em;
}

.sobre_mim .text_sobre_mim .rede_sociais_sobre_mim{
    text-align: center;
    margin-top: 20px;
}

.rede_sociais_sobre_mim a{
    text-decoration: none;
    padding: 5px;
}

.rede_sociais_sobre_mim button{
    width: 40px;
    height: 40px;
    margin-bottom: 70px;
    border: none;
    border-radius: 50%;
    color: #e0decb;
    background-color: #0e9094;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

.sobre_mim .text_sobre_mim .rede_sociais_sobre_mim button:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 8px #0e9094;
}

/*Configurações sobre minha habilidades*/

section .minhas_habilidades{
    padding: 40px 4%;
}

section.minhas_habilidades .flex{
   gap: 100px;
   justify-content: center;
}

.minhas_habilidades .habilidade_box{
     color: #e0decb;
     padding: 40px;
     border-radius: 20px;
     margin-top: 40px;
     margin-bottom: 40px;
     transition: .2s;
}

.minhas_habilidades .habilidade_box:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 8px #e0decb9b;
}

.minhas_habilidades .habilidade_box i{
    color: #0e9094;
    font-size: 100px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/*configuração sobre meu portfólio*/
section.meu_portfolio{
    padding: 40px 4%;
    box-shadow: 0px 0px 20px 8px #e0decb18;
    
}

section.meu_portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}


.meu_portfolio .img_port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.meu_portfolio .img_port:hover{
    background-position: 100% 100%;
}

.img_port .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s;
}

.img_port .overlay:hover{
    opacity: 1;
}

.img_port .overlay a{
    text-decoration: none;
    color: #e0decb;
    font-size: 24px;
    font-weight: 600;
}

/*Configuração sobre meu contato*/

section.formulario{
    padding: 40px 4%;
}


form{
    max-width: 500px;
    width: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

form input, form textarea{
    width: 100%;
    background-color: #7f7d6c17;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 10px;
    color:#e0decb;
    font-size: 16px;
}

form textarea{
    resize: none;
    height: 150px;
}

form .button_contate_me{
    margin-top: 20px;
    text-align: center;
}

form .button_contate_me input{
    width: 120px;
    background-color: #0e9094;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

/*Configuração sobre o rodape*/

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #e0decb18;
}


footer .flex{
  justify-content: space-between; 
}

footer .img_logo img{
    margin-top: -30px;
}

footer .line_footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #0e9094;
}

footer .line_footer p i{
    font-size: 40px;
    color: #0e9094;
}

footer .line_footer p a{
    color: #e0decb;
    font-size: 22px;
    text-decoration: none;
}


















