@charset "UTF-8";

:root{
    --cor0: #7f7d6c;
    --cor1: #979584;
    --cor2: #b0ae9c;
    --cor3: #c8c6b3;
    --cor4: #e0decb;
    --cor5: #0e9094;
}

*{
    margin: 0px;
    padding: 0px;
}
    
section{
    background-color: #7f7d6c;
    width: 1000px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}


.pg_inc-conteudo{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    box-shadow: 1px 3px 3px #979584;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inc_titulo{
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.h1_inc_titulo{
    text-align: center;
    color: #0e9094;
    font-weight: bold;
}

.p_inc_titulo{
    color: #0e9094;
    font-weight: bold;
    margin-top: -5px;
  }


.inc_bloco_imagem{
    background-color: #e0decb;
    width: 350px;
    height: 400px;
    margin-left: 56px;
}

.inc_img{
    width: 350px;
    height: 400px;
}

.inc_bloco_menu{
    background-color: #b0ae9c;
    width: 50px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 50px;
    text-align: center;
}

.img_menu{
    width: 30px;
    right: 30px;
    margin: 5px;
    border-radius: 50%;
}

.sobre-mim{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 3px 3px #979584;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.conteudo_sobre_mim{
    background-color: #e0decb;
    width: 50%;
    margin-left: 20px;
}

.conteudo{
    text-align: center;
    color: #0e9094;
}

.h2_conteudo{
    padding-top: 30%;
    text-align: center;
    font-size: 25px;
    color: #0e9094;
}

.p_conteudo{
  text-align: justify;
  font-size: 17px;
  padding: 10px;
  color: black;
}


.menu_sb_mim{
    background-color: #b0ae9c;
    width: 200px;
    height: 400px;
}

.img_menu_sobre_mim{
    background-color: #b0ae9c;
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.img_sobre_mim{
    width: 150px;
    height: 150px;
}

.header_menu{
    background-color: #b0ae9c;
    width: 200px;
    height: 235px
}

.header_menu_sb_mim{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu_principal_sobre_mim{
    background-color: #b0ae9c;
    width: 50px;
    height: 300px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 50px;
}

.projeto_container{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 3px 3px #979584;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;  
}

.menu_projeto{
    background-color: #b0ae9c;
    width: 200px;
    height: 400px;

}

.header_menu_progeto{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img_bloco_proj{
    background-color: #b0ae9c;
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.img_proj{
    width: 150px;
    height: 150px;
}

.menu_principal_progetos{
    background-color: red;
    background-color: #b0ae9c;
    width: 50px;
    height: 300px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 50px;
    text-align: center;
}


