@charset "UTF-8";

:root{
    --cor0: #7f7d6c;
    --cor1: #979584;
    --cor2: #b0ae9c;
    --cor3: #c8c6b3;
    --cor4: #e0decb;
    --cor5: #0e9094;
}

/*Configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #7f7d6c;
    height: 100vh;
}

.container{
    max-width: 1280px;
    margin: 0px auto;
}

/*Configurações Cabesalho*/

header{
    padding: 30px 4%;
}

header .img_logo img{
    margin-top: -30px;
}

header > .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header a{
    color: #b0ae9c;
    text-decoration: none;
    display: inline-block;
    transform: .2s;
}

header a:hover{
    color: black;
    transform: scale(1.10);
    font-weight: 700;
}

header nav, ul{
    list-style-type: none;
}

header nav, ul, li{
    display: inline-block;
    padding: 10px 40px;
}

header .but_contato button{
    background-color: #0e9094;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}

header .but_contato button:hover{
    box-shadow: 0px 0px 8px #0e9094;
}