@charset "UTF-8";

:root{
    --cor0: #7f7d6c;
    --cor1: #979584;
    --cor2: #b0ae9c;
    --cor3: #c8c6b3;
    --cor4: #e0decb;
}

*{
    margin: 0px;
    padding: 0px;
}
    
section{
    background-color: #7f7d6c;
    width: 1000px;
    margin: auto;
    padding: 20px;
}


.pg_inc-conteudo{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    box-shadow: 1px 3px 3px #979584;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inc_titulo{
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.h1_inc_titulo{
    text-align: center;
    color: black;
    font-weight: bold;

}

.inc_bloco_imagem{
    background-color: #e0decb;
    width: 350px;
    height: 400px;
    margin-left: 56px;
}

.inc_img{
    width: 350px;
    height: 400px;
}

.inc_bloco_menu{
    background-color: #b0ae9c;
    width: 50px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 50px;
    text-align: center;
}

.img_menu{
    width: 30px;
    right: 30px;
    margin: 5px;
    border-radius: 50%;
}

.sobre-mim{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 3px 3px #979584;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.menu_sb_mim{
    background-color: #b0ae9c;
    width: 200px;
    height: 400px;
}

.img_sobre_mim{
    width: 150px;
    height: 150px;
}

.menu_principal_sobre_mim{
    background-color: #b0ae9c;
    width: 50px;
    height: 300px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 50px;
}