@charset "UTF-8";

:root{
    --cor0: #7f7d6c;
    --cor1: #979584;
    --cor2: #b0ae9c;
    --cor3: #c8c6b3;
    --cor4: #e0decb;
}

*{
    margin: 0px;
    padding: 0px;
}
    
section{
    background-color: #7f7d6c;
    width: 1000px;
    margin: auto;
    padding: 20px;
}


.pg_inc-conteudo{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    box-shadow: 1px 3px 3px #979584;
}

.inc_bloco_imagem{
    background-color: #e0decb;
    width: 350px;
    height: 400px;
    margin-left: 56.3%;
    display: flex;
}

.inc_img{
    width: 350px;
    height: 400px; 
}

/*.inc_bloco_menu{
    background-color: aqua;
    width: 100px;
    height: 400px;
    margin-right: 100px;
}*/

.sobre-mim{
    background-color: #e0decb;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 3px 3px #979584;
}